services:
  traefik:
    image: traefik:v3.0.1
    container_name: traefik
    restart: always

    ports:
      - "127.0.0.1:8081:8081"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
